/* 초기회 */
* {margin: 0; padding: 0; font-size: 14px;}

/* wrap */
#wrap {width: 768px; margin: 0 auto;}

/* header */
#header {width: 100%; height: 200px; /*background-color: #ffe082;*/ }
#header .header_container {border-bottom: #E8E8E8 solid 5px; height: 60%; display: flex; padding: 0 5%; width: 90%;}
#header .header_container form {display: flex; align-content: center;  margin-left: 3%; height: 55%; margin: auto 0;}
#header .header_container form .location {border: none; padding: 10px; font-size: 18px; font-weight: bold;
	width: 150px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url('../icon/chevron-down.svg') no-repeat 95% 50%; 
	color: #90B661;}
#header .header_container .location ::-ms-expand {display: none;}
#header .header_container .btn_container {margin-left: auto; display: flex;}
#header .header_container .btn_container .search {background: url(../icon/search.svg) no-repeat 95% 50%; width: 24px; border: none; height: 100%;
height: 55%; margin: auto 0;}

#header .scroll_header_container {height: 38%; width: 90%; display: inline-block; margin: 0 auto; padding: 0 5%; flex-wrap: nowrap; 
	-ms-overflow-style: none;	overflow-x: auto; white-space: nowrap; scrollbar-width: none;}
#header .scroll_header_container::-webkit-scrollbar {display: none;}
#header .scroll_header_container .category_container {display: inline-block; margin: auto 0; height: 55%; margin-right: 10px; width: 70px;
line-height: 76px;}
#header .scroll_header_container .category_container div {font-size: 16px; font-weight: bold; margin: auto auto; width: 90%; text-align: center;}

/* section */
#section {overflow: hidden; padding: 5%; width: 90%;background-color: #ffca28; display: flex; flex-direction: column; flex-wrap: wrap;}
#section .board {width: 95%; margin: 0 auto; height: 700px; background-color: #ff9800; border-radius: 20px; margin-bottom: 5%;}
/* footer */
#footer {width: 100%; height: 100px; position: fixed; bottom: 0; background-color: #ffb300; max-width: 768px; }
  
/* 화면 너비 0 ~ 480px */
@media (max-width: 480px) {
	#wrap {width: 100%;}
}

